scroll_buffer_size 100000
show_startup_tips false
keybinds {
	unbind "Ctrl q"
	session {
		unbind "Ctrl o"
		bind "Ctrl k" { SwitchToMode "Normal"; }
	}
	shared_except "session" "locked" {
		unbind "Ctrl o"
		bind "Ctrl k" { SwitchToMode "Session"; }
	}
}
